In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [155]:
data = pd.read_csv('C:/Users/Public/movie_bd_v5.xls')

In [156]:
data = data.assign(profit = data.revenue - data.budget)

In [4]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [208]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [17]:
data1 = data.budget.max()
data1_1 = data.query('budget==380000000')
#data1
data1_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

#ВАРИАНТ 2

In [209]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [19]:
data2 = data.runtime.max()
data2_1 = data.query('runtime==214')
data2_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [210]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
data3 = data.runtime.min()
data3_1 = data.query('runtime==63')
data3_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [211]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  #+

# 4. Какова средняя длительность фильмов?

In [24]:
data4 = data.runtime.mean()
data4

109.6585494970884

In [212]:
 answers['4'] = '2. 110'  #+

# 5. Каково медианное значение длительности фильмов?

In [4]:
data5 = data.runtime.median()
data5

107.0

In [213]:
answers['5'] = '1. 107' #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [43]:
data6 = data[['imdb_id', 'original_title', 'revenue', 'budget']].copy()
#data6.loc[:, 'profit'] = (data['revenue'] - data['budget'])
#data6.profit.max()  #получили значение = 2544505847
#data6_1 = data6.query('profit == 2544505847')
#data6_1
data6 = data6.assign(profit = data.revenue - data.budget)
data6.profit.max()
data6_1 = data6.query('profit == 2544505847')
data6_1

       imdb_id original_title     revenue     budget      profit
239  tt0499549         Avatar  2781505847  237000000  2544505847

In [214]:
answers['6'] = '5. Avatar (tt0499549)' #+

# 7. Какой фильм самый убыточный?

In [44]:
data7 = data[['imdb_id', 'original_title', 'revenue', 'budget', 'release_year']].copy()
profit = data.revenue - data.budget
data7['profit'] = profit
data7.profit.min()  #получили значение = -165710090
data7_1 = data7.query('profit == -165710090')
data7_1

        imdb_id   original_title   revenue     budget  release_year     profit
1245  tt1210819  The Lone Ranger  89289910  255000000          2013 -165710090

In [215]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [45]:
data8 = data[['imdb_id', 'original_title', 'revenue', 'budget']].copy()
data8['result'] = data.revenue > data.budget
data8_1 = data8.query('result == True')
len(data8_1)

1478

In [216]:
answers['8'] = '1. 1478' #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [46]:
data9 = data[['imdb_id', 'original_title', 'revenue', 'budget', 'release_year']].copy()
data9 = data[(data.release_year == 2008)].revenue.max() # выяснили результат = 1001921825
data9_1 = data.query('revenue == 1001921825') 
data9_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

In [217]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [47]:
data10 = data[['imdb_id', 'original_title', 'revenue', 'budget', 'release_year']].copy()
data10 = data7[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min() # выяснили результат = 2054941
data10_1 = data7.query('profit == -165710090') 
data10_1

        imdb_id   original_title   revenue     budget  release_year     profit
1245  tt1210819  The Lone Ranger  89289910  255000000          2013 -165710090

In [218]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+

# 11. Какого жанра фильмов больше всего?

In [57]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = data[['imdb_id', 'original_title', 'genres']].copy()
data11.genres = data11.genres.str.split('|')
data11 = data11.explode('genres')
data11_1 = data11["genres"].value_counts() # можно добыить .index[0] 
data11_1

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [219]:
 answers['11'] = '3. Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [5]:
data12 = data[['imdb_id', 'original_title', 'genres', 'profit']].copy()
profit_genres = data12[data12['profit']>0]
data12_1 = profit_genres.genres.str.split('|')
data12_1 = data12_1.explode().value_counts()
data12_1

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [220]:
answers['12'] = '1. Drama' #+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [10]:
data13 = data.groupby('director').revenue.sum().idxmax()
data13

'Peter Jackson'

In [221]:
answers['13'] = '5. Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
data14 = data[data.genres.str.contains("Action")].copy()
data14 = data14['director'].str.cat(sep='|') 
data14 = pd.Series(data14.split('|')) 
data14_1 = data14.value_counts(ascending=False) 
data14_1.index[0]

'Robert Rodriguez'

In [222]:
answers['14'] = '3. Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [50]:
data15 = data.copy()
data15 = data15[data15.release_year == 2012]  # отделяем фильмы за 2012
data15['cast'] = data15['cast'].str.split('|')  # разделяем актеров
data15 = data15.explode('cast')
data15.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0).nlargest(5, 'revenue')

                    revenue
cast
Chris Hemsworth  2027450773
Denis Leary      1629460639
Anne Hathaway    1522851057
Chris Evans      1519557910
Mark Ruffalo     1519557910

In [223]:
answers['15'] = '3. Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
data16 = data.copy()
data16 = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts()
data16.index[0]

'Matt Damon'

In [224]:
answers['16'] = '3. Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [70]:
data17 = data[data.cast.str.contains("Nicolas Cage")].copy()
data17 = data17['genres'].str.cat(sep='|') 
data17 = pd.Series(data17.split('|')) 
data17_1 = data17.value_counts(ascending=False) 
data17_1

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

In [225]:
answers['17'] = '2. Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [8]:
data18 = data[data.production_companies.str.contains('Paramount Pictures')].copy()
data18.profit.min() # -64831034
data18_1 = data18.query('profit == -64831034')
data18_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [226]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [56]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [227]:
answers['19'] = '5. 2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [86]:
data20 = data.copy()
data20.production_companies = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
data20_1 = data20[data20.production_companies.str.contains("Warner Bros.")]
data20_1.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3246549646
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2814008221
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2280142579
2012    1869520056
2002    1702709901
2015    1691168351
2006    1576351872
2000    1025531386
Name: revenue, dtype: int64

In [228]:
answers['20'] = '1. 2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [93]:
data21 = data.copy()
data21.release_date = pd.to_datetime(data21.release_date)
data21['release_month'] = data21.release_date.dt.month
data21.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [229]:
answers['21'] = '4. 9' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [71]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22.release_date)
data22['release_month'] = ((data22.release_date.dt.month==6) | (data22.release_date.dt.month==7) | (data22.release_date.dt.month==8))
data22.release_month.value_counts()

False    1439
True      450
Name: release_month, dtype: int64

In [230]:
answers['22'] = '2. 450' #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [149]:
data23 = data[['director', 'release_date']].copy()
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
data23.release_date = pd.to_datetime(data23.release_date)
data23['release_month'] = data23.release_date.dt.month
data23_1 = data23.loc[data23['release_month'].isin(['12','1','2'])]
data23_1 = pd.pivot_table(data23_1, index='director', aggfunc='count').nlargest(1, 'release_month')
data23_1

               release_date  release_month
director
Peter Jackson             7              7

In [231]:
answers['23'] = '5. Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [174]:
data24 = data.copy()
data24['new_title'] = data24['original_title'].str.len()
data24.new_title.mean()
data24['production_companies'] = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
data24 = data24[['imdb_id','production_companies', 'new_title']]
data24_1 = data24.groupby(['production_companies'])['new_title'].mean().sort_values(ascending=False)
data24_1

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: new_title, Length: 1771, dtype: float64

In [232]:
answers['24'] = '5. Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [191]:
data25 = data[['imdb_id', 'overview', 'production_companies']].copy()
data25['new_title'] = data25['overview'].str.split().str.len()
data25.new_title.mean()
data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
data25_1 = data25.groupby(['production_companies'])['new_title'].mean().sort_values(ascending=False)
data25_1

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: new_title, Length: 1771, dtype: float64

In [233]:
answers['25'] = '3. Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [197]:
data26 = data[['imdb_id','original_title','vote_average']].copy()
data26
rate_99 = np.percentile(data26.vote_average, 99)
data26 = data26[data26.vote_average >= rate_99].sort_values(by='vote_average', ascending=False)
data26.head(10)

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
370   tt1375666                                      Inception           7.9
1191  tt2024544                               12 Years a Slave           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
872   tt0253474                                    The Pianist           7.9

In [234]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [202]:
from collections import Counter
from itertools import combinations
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(combinations(sorted(x), 2)))
cast_pairs.explode('cast').cast.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Amy Adams, Jeremy Sheffield)          1
(Joe Manganiello, Kevin Nash)          1
(Aaliyah, DMX)                         1
(Judd Hirsch, Kerry Condon)            1
(Kennedi Clements, Kyle Catlett)       1
Name: cast, Length: 17943, dtype: int64

In [235]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'#+

ВАРИАНТ 2

# Submission

In [236]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [237]:
# и убедиться что ни чего не пропустил)
len(answers)

27